.ready {
    background-image: url(4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.see {
    background-color: rgb(39, 41, 41);
    /* background-size: cover;
    background-attachment: fixed;
    background-position: center center; */
}